!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script(src="http://127.0.0.1:3000/path_embeds.js")
    %script
      window.onload = function () {window.pathEmbeds = new PathEmbeds({pathAccountSlug: 'test'});};
  %body
    .navbar.right
      .navbar-inner
        = link_to t(:brand), root_path, class:'brand'
        %br
        - if user_signed_in?
          = link_to raw("<i class='icon-user icon-white'></i> #{t(:profile)} (#{current_user.email})"), edit_user_registration_path
          |
          = link_to raw("<i class='icon-off icon-white'></i> #{t(:sign_out)}"), destroy_user_session_path, :method => :delete
        - else
          = link_to raw("<i class='icon-plus icon-white'></i> #{t(:sign_up)}"), new_user_registration_path
          |
          = link_to raw("<i class='icon-ok icon-white'></i> #{t(:sign_in)}"), new_user_session_path
    .container#dss
      .span7
        - if flash[:notice]
          .alert.alert-success.alert-dismissable
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
            %center= notice
        - if flash[:alert]
          .alert.alert-danger.alert-dismissable
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
            %center= alert
    = yield
    %center#path-iframe-container
      %iframe{style: 'width:1050px;height:500px;'}
